{% extends 'base.html' %}
{% block content %}
<style>
h3 {text-align: center;
    bottom: 0;
}
p { text-align: center;
bottom: 0;
}
</style>
<button class="button" onclick="location.href='http://127.0.0.1:8000/api/res_list/';" >Visit all Resources</button>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p>XYZ was founded by A and B on April 4, 19XX, to develop and sell BASIC interpreters for the ADKNE 876.</p>
<p>It rose to dominate the personal computer operating system market with XS-DES in the mid-1680s.</p>
<h3>Truly Confidential and must be used for Internal Purposes Only</h3>
<h3>XYZ Inc. 2020</h3>
{% endblock %}