{% extends 'base.html' %}


{% block content %}
<h1>Welcome to My Resource API</h1>
<h2>List of All Resources</h2>
<table style="width:100%">
  <tr>
    <th align="left">Resource ID</th>
    <th align="left">Resource ID</th>
<th align="left">Resource Name</th>
<th align="left">Resource Category</th>
<th align="left">Resource Link</th>
<th align="left">Resource Thumbnail</th>
  </tr>
{% for record in model  %}
       <tr> 

{% for it in record.values  %}
       <td>{{it}}</td>
{%endfor%}


</tr>
{%endfor%}
    </table>
{% endblock %}